body{
    background-color: rgb(0, 0, 0);
}
#nav-link{
    font-size: 65px;
    font-weight: 550;
}
form{
    width: 10rem;
}
.form-label{
    color: yellow;
}
.form-control {
    padding:5px; 
    border:2px solid yellow; 
    -webkit-border-radius: 1px;
    border-radius: 5px;
    background-color: black;
    color: yellow;
}
.lni-car{
    font-size: 80px;
}

#parkingtable{
    color: yellow;
    border-color: yellow;
}
#receipttable{
    color: yellow;
    
}
.table{
    color: yellow;
    border-color: yellow;
}
#receiptHead{
    color: black;
    font-size: 35px;
    text-align: center;
    margin-top: 5rem;
    border-style:solid ;
    border-color: yellow;
    border-radius: 10px;
    padding: 20px;
    background-color: yellow;

}
#parkingHead{
    color: yellow;
    font-size: 35px;
    text-align: center;
    border-style:solid ;
    border-color: yellow;
    border-radius: 10px;
    padding: 20px;
}


#footer{
    color: yellow;
    text-align: center;
    font-size: 15px;
}